@font-face{
  font-family: "Space-Grotesk";
  src: url(./font-Styles/Space_Grotesk/static/SpaceGrotesk-Bold.ttf);
  font-weight: bolder;
  font-style: normal;
}
@font-face{
  font-family: "JetBrainsMono";
  src: url(./font-Styles/JetBrains_Mono//static/JetBrainsMono-Bold.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: "JetBrainsMonoLight";
  src: url(./font-Styles/JetBrains_Mono/static/JetBrainsMono-Light.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: "Inter";
  src: url(./font-Styles/Inter/static/Inter_24pt-Light.ttf);
  font-weight: normal;
  font-style: normal;
}